.text-right-fade-in {
    opacity: 0;
    animation-name: rightFadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    position: absolute;
    left: 20%;
    width: 100%;
}

.text-fade-in {
    opacity: 0;
    animation-name: FadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    width: 100%;
}

.animation-delay-1 {
    animation-delay: 1s;
}

.animation-delay-2 {
    animation-delay: 2s;
}

@keyframes rightFadeIn {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0%;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}