.navigation {
    float: left;
    background: rgba(255, 255, 255, 0.7);
    width: 20%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: fixed;
    height: 100%;
    min-height: 100vh;
}

.navigation ul {
   list-style: none;
   padding-left: 0;
   float: left;
   width: 100%;
}

.navigation ul li {
    cursor: pointer;
    float: left;
    width: 100%;
}

.navigation ul li.logo {
    min-height: 90px;
    padding: 30px 30px 40px;
    border-bottom: 1px solid #949494;
    /* background: #fafafa; */
    text-align: center;
}

.navigation ul li.logo img {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.navigation ul li.logo .person-content {
    width: 100%;
    float: left;
    margin-top: 20px;
    color: #505050;
}

.navigation ul li.logo .person-content .fullname {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.navigation ul li.logo .person-content .title {
    font-size: 17px;
    text-transform: uppercase;
}

.navigation ul li.menu:hover {
    background: #ddd;
    border-left: solid 3px gray;
    transition: all 0.3s;
}

.navigation ul li.menu a {
    color: #333;
    font-weight: 500;
    line-height: 100%;
    font-size: 13px;
    width: 100%;
    float: left;
    padding: 15px 10px;
}

.navigation ul li.menu a:hover {
    text-decoration: none;
}

.navigation ul li.menu a i{
    padding: 0 15px;
    font-size: 2rem;
    width: 50px;
    text-align: center;
}

/* navigation-medium */

.navigation-medium {
    float: left;
    background: rgba(255, 255, 255, 0.7);
    width: 8%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: fixed;
    height: 100%;
    min-height: 100vh;
}

.navigation-medium ul {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
 }
 
 .navigation-medium ul li {
     cursor: pointer;
     float: left;
     width: 100%;
 }
 
 .navigation-medium ul li.logo {
     border-bottom: 1px solid #949494;
     text-align: center;
     margin-bottom: 10px;
 }
 
 .navigation-medium ul li.logo img {
     width: 80%;
     height: auto;
     border-radius: 50%;
     border: 2px solid #fff;
     margin: 11px 0px;
 }

 .navigation-medium ul li.menu:hover {
    background: #ddd;
    transition: all 0.3s;
    border-left: solid 3px gray;
}

.navigation-medium ul li.menu a {
    color: #333;
    font-weight: 500;
    line-height: 100%;
    font-size: 13px;
    width: 100%;
    float: left;
}

.navigation-medium ul li.menu a span {
    display: none;
}

.navigation-medium ul li.menu a:hover {
    text-decoration: none;
}

.navigation-medium ul li.menu a i{
    padding: 15px;
    font-size: 2rem;
    width: 100%;
    float: left;
    text-align: center;
}

/* navigation-small-trigger */

.navigation-small-trigger {
    float: left;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: #fff;
}

.navigation-small-trigger .header {
    float: left;
    width: 100%;
    height: 63px;
}

.navigation-small-trigger .header .toggle-button {
    float: left;
    width: 60px;
    z-index: 2;
    position: relative;
}

.navigation-small-trigger .header .toggle-button a {
    float: left;
    width: 100%;
    color: #00bcd4;
    height: 63px;
    padding: 20px;
}

.navigation-small-trigger .header .toggle-button a i {
    font-size: 1.4em;
    float: left;
    width: 100%;
    text-align: center;
}

.navigation-small-trigger .header .toggle-button a:hover {
    background: #ddd;
    text-decoration: none;
    color: #00bcd4;
}

.navigation-small-trigger .header .header-content {
    margin-top: 4px;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}

.navigation-small-trigger .header .header-content .person-content .fullname {
    font-size: 22px;
    color: #00bcd4;
}

.navigation-small-trigger .header .header-content .person-content .title {
    font-size: 14px;
    color: #795548;
}

/* navigation-small */

.navigation-small {
    display: none;
    position: fixed;
    background: #fff;
    width: 190px;
    height: 100vh;
    left: 0px;
    z-index: 3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navigation-small ul {
    list-style: none;
    padding: 0;
    float: left;
    width: 100%;
}

.navigation-small ul li.menu {
    width: 100%;
    float: left;
    cursor: pointer;
}

.navigation-small ul li.menu a {
    color: #333;
    font-weight: 500;
    line-height: 100%;
    font-size: 13px;
    width: 100%;
    float: left;
}

.navigation-small ul li.menu a i {
    font-size: 2rem;
    text-align: center;
    /* padding: 10px 15px; */
    width: 27%;
    float: left;
    padding: 10px 0px;
}

.navigation-small ul li.menu a span {
    width: 73%;
    float: right;
    padding: 14px 0px 13px 0px;
}

.navigation-small ul li.menu:hover {
    background: #ddd;
    border-left: solid 3px gray;
    transition: all 0.3s;
}

@media (min-width: 1058px) {
    .navigation {
        display: block;
    }

    .navigation-medium {
        display: none;
    }

    .navigation-small-trigger{
        display: none;
    }
}

@media (min-width: 701px) and (max-width: 1057px) {
    .navigation {
        display: none;
    }

    .navigation-medium {
        display: block;
    }

    .navigation-small-trigger{
        display: none;
    }
}

@media (max-width: 700px) {
    .navigation {
        display: none;
    }

    .navigation-medium {
        display: none;
    }

    .navigation-small-trigger{
        display: block;
    }
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}