.teal-text {
    color: #008073 !important;
}

.cyan-text {
    color: #00bcd4 !important;
}

.indigo-text {
    color: #3f51b5 !important;
}

.purple-text {
    color: #9c27b0 !important;
}

.red-text {
    color: #F44336 !important;
}

.orange-text {
    color: #ff9800 !important;
}

.brown-text {
    color: #795548 !important;
}

.gray-text {
    color: #424242 !important;
}